<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h2>Edit the Girls...</h2>

<form method="POST" action="/workout/<%=id%>?_method=PUT">
Name: <input type="text" name="name" value="<%= workout.name %>"/><br/>
Weight: <input type="number" name="weight" value="<%= workout.weight %>"/><br/>
Type: <input type="text" name="type" value="<%= workout.type %>"/><br/>
<br/>
<input type="submit" name="" value="Submit Changes"/>
</form>


</body>
</html>