<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h2>Workouts</h2>

<ul class="girlwods">
<% for(i = 0; i < workout.length; i++) { %>
   <li>Name: <%= workout[i].name %></li>
   <li>Weight in pounds: <%= workout[i].weight %></li>
   <li>Completed: <%= workout[i].type %></li>
   <form action="/workout/<%=i%>?_method=DELETE" method="POST">
   <input type="submit" value="delete">
 </form>
   <% } %>
</ul>
</form>

</body>
</html>