<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h2>Girl WODs</h2>

<li>Today's workout is <%= workout.name %>. </li>
<li>You complete it at <%= workout.weight %> pounds.</li>
<li>The WOD is completed <%= workout.type %>.</li>

</body>
</html>